<!--
If you want to include any custom html just before </head>, put it in /layouts/head_custom.html
Do not put anything in this file - it's only here so that hugo won't throw an error if /layouts/head_custom.html doesn't exist.
-->
<!-- RDFa for ISIDORE -->
<link rel="dcterms:identifier" href="{{ . | absLangURL }}" />
<meta property="dcterms:identifier" href="{{ . | absLangURL }}" />

{{ with .Title | default .Site.Title }}
<meta property="dcterms:title" content="{{ . }}" />
{{ end }}
<meta property="dcterms:creator" content="{{ .Params.author1 }}" />
{{ if .Params.author2 }}
<meta property="dcterms:creator" content="{{ .Params.author2 }}" />
{{ else }}
{{ end }}
<!-- Etc. -->
<meta property="dcterms:created" content="{{ .PublishDate.Format "2006-01-02" }}" />
<meta property="dcterms:abstract" content="{{ .Params.abstract | truncate 200 }}" xml:lang="{{ .Params.language }}" />
<meta property="dcterms:language" content="{{ .Params.language }}" />
<meta property="dcterms:type" content="{{ .Params.type }}" />
<meta property="dcterms:format" content="text/html" />
<meta property="dcterms:publisher" content="{{ .Params.publisher }}" />
